* {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    font-size: 24px;
    color: #F9FAF8;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 20px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 10px;
    border-style: none;
    padding: 5px 20px;
    font-weight: bold;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.header-2 {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 150px 100px;
}

.header-2-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header-2-content {
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 0px;
}

.right-side {
    border: solid;
    border-color: #e5e7eb;
    height: 250px;
    width: 500px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 75px 200px;
}

.information-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.boxes {
    display: flex;
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    border: solid;
    border-color: #3882f6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}


.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    padding: 150px 250px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 10px;
}

.author {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}   

.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 150px;
}

.box {
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    gap: 20px;
}


.action-button {
    border-color: #e5e7eb;
    border: solid;
    border-radius: 10px;
}

.footer {
    background-color: #1F2937;
    font-size: 12px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content {
    flex: 1;
}